html, body {
  overflow-y: scroll;
  scrollbar-width: none;
  scroll-behavior: smooth;
  width: 100vw;
  overflow-x: hidden;
}

body::-webkit-scrollbar {
    display: none;
}

.navbar{
  background-color: white;
}

.ay{
  display: flex;
  flex-direction: column;
  position: relative;
  padding-top: 100px;
  opacity: 1;
  color: #121a27;
  padding-bottom: 100px;
  z-index: 1000px;


  h2{
    font-family: 'Text-bold';
    font-size: 3vw;
    color: rgb(62, 62, 62);
    margin-top: 150px;
  }

  transition: all 1s ease-out;
  transition-delay: 0.3s;
}

.ay.hidden{
  opacity: 0;
}

header{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  text-align: center;

  p{
    width: 50%;
    font-size: 1.5em;
  }

  h1{
    font-family: 'Text-titre';
    font-size: 5vw;
    margin:0;
  }
}

.reportage{
  margin:50px;


  div{
    margin-top: 100px;
    position: relative;

    img{
      width: 100%;
    }
  }

  .once-left{
    width: 70vw;
  }
  .once-left.small{
    width: 45vw;
  }

  .three-inline{
    display:flex;
    justify-content: space-between;

    img{
      width: 30vw;
    }
  }

  .once-right{
    left: 100%;
    transform: translateX(-100%);
    width: 60vw;
  }

  .beurre{
    margin-top: -200px;
    left: 100%;
    transform: translateX(-100%);
    width: 40vw;
  }

  .grid{
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    column-gap: 30px;
    margin-top: 10px;
  }

  .once-center{
    display: flex;
    justify-content: center;

    img{
      width: 85vw;
    }
  }
  .once-center.big{
    img{
      width: 95vw;
    }
  }
  .once-center.small{
    img{
      width: 40vw;
    }
  }

  .double-inline{
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    column-gap: 30px;
  }
}
