.navbar.white{
  a{
    color: #121a27;
  }

  a::before{
    background-color: #121a27;
  }
}

.navbar{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0);
  height: 7vh;
  position:fixed;
  top: 0;
  z-index: 90;
  width: 100vw;

  a{
    font-family: 'Text';
    color:white;
    text-decoration: none;
    position: relative;
    margin-left: 30px;
    margin-right: 30px;
  }

  a:hover{
    cursor: pointer;
  }

  .item_nav_index{
    position: absolute;
    left: 10px;
  }

  a::before{
    position: absolute;
    content:'';
    display: block;

    top: 100%;
    left: 0;
    height: 2px;
    background-color: white;
  }

    a.open::before{
      width: 100%;
    }

  a::before{
    width: 0;
    transition: width 0.3s;
  }

  a:hover::before{
    width: 100%;
  }
}

@media all and (max-device-width:480px) {
  .navbar{
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content:space-around;

    .item_nav_index{
      position: relative;
      left: 0;
    }

    .item_nav_left{
      display: inline-flex;
    }

    a{
      position: relative;
      margin-left: 10px;
      margin-right: 10px;
    }
  }
}
